/* #region RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion RESET */

/* #region GENERAL */
body {
  font-family: 'Montserrat', sans-serif;
}
/* #endregion GENERAL*/

/* #region COMMONS */
/* #endregion COMMONS */

/* #region VARIABLES*/
/* #endregion VARIABLES */

/* #region NAV */
/* #endregion NAV */

/* #region MAIN */
/* #endregion MAIN */

/* #region FOOTER */
/* #endregion FOOTER */

/* #region RESPONSIVE */
/* #endregion RESPONSIVE */

/* #region */
/* #endregion */

